.card-about-me {
  margin-top: 10%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #413d3d;
  color: #fff3e4;
}


.card-about-me__image {
  filter: grayscale(95%);
  height: 650px;
}

.card-about-me__title {
  background-color: #413d3d;
  color: #fff3e4;

  padding-left: 20%;
  font-size: 2.5rem;
  text-align: left;
}

.card-about-me__content > p {
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
  background-color: #413d3d;
  color: #fff3e4;
}

